<div>PopulateCount: {{populateCount}}</div>
<div>CearCount: {{clearCount}}</div>
<p/>
<button {{action "run"}}>{{clickMessage}}</button>
<p/>
{{#each proxyObjects as |object|}}
  <div>{{object.name}}-{{object.proxyName}}</div>
{{/each}}
